[Unit]
Description=MC Server Manager master
Documentation=https://github.com/QwikByte/mc-server-manager
After=network-online.target
Wants=network-online.target mcsm-master-update.path

[Service]
User=mcsm
Group=mcsm
EnvironmentFile=-/etc/mcsm/master.env
ExecStart=/usr/bin/mcsm-master --data-dir /var/lib/mcsm-master serve $MCSM_MASTER_OPTS
StateDirectory=mcsm-master
StateDirectoryMode=0700
LogsDirectory=mcsm-master
LogsDirectoryMode=0700
Restart=on-failure
RestartSec=5

NoNewPrivileges=yes
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
